# Virtual environment
venv/

# Environment variables / secrets
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# macOS specific
.DS_Store

# VS Code settings (if using VS Code)
.vscode/